.vs/
APPPInCSharp_Payroll.Console/bin/
APPPInCSharp_Payroll.Console/obj/
APPPInCSharp_Payroll.UnitTests/bin/
APPPInCSharp_Payroll.UnitTests/obj/
packages/
APPPInCSharp_Payroll.WinForm/obj/
APPPInCSharp_Payroll.WinForm/bin/
APPPInCSharp_Payroll.Core/obj/
APPPInCSharp_Payroll.Core/bin/
